
Realidades Do Rio/Realidadesdorio.Stratis/init.sqf
Realidades Do Rio/Realidadesdorio.Stratis/initPlayerLocal.sqf
Realidades Do Rio/Realidadesdorio.Stratis/TFS_fnc_ftfar_init.sqf
Realidades Do Rio/Realidadesdorio.Stratis/config/Client/TFS_fnc_ftfar_init.sqf
